ion-content {
  --background: var(--ion-color-primary) url('../../assets/imgs/mobile.png') no-repeat center center / cover;
}


.main_content_div {
    width: 100%;
    padding: 16px;

    ion-label {
        display: block;
    }

    .header_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 20px;

        ion-button {
            margin: 0px;
            color: var(--ion-color-dark);
        }
    }

    .or-text {
      margin-top: -6% !important;
      color: var(--ion-color-light);
    }

    .bold_lbl {
        font-size: 26px;
        text-align: center;
        color: var(--ion-color-light);
        font-family: 'Proxima Nova', sans-serif;
    }

    .small_lbl {
        text-align: center;
        color: var(--ion-color-dark);
        font-size: 14px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    ion-input {
        // background: rgb(148, 137, 145, 0.3);
        border-radius: 5px;
        margin-bottom: 20px;
        height: 50px;
        --padding-start: 8px;
        color: var(--ion-color-dark);

        ion-icon {
            margin-left: 10px;
            color: var(--ion-color-dark);
        }
    }

    ion-button {
        margin: 0px;
        --border-radius: 5px;
        height: 50px;
        margin-bottom: 40px;
    }

    .forgot_lbl {
        color: var(--ion-color-dark);
        font-size: 14px;
        text-align: center;
    }

    .abs_lbl {
        position: absolute;
        bottom: 40px;
        color: var(--ion-color-dark);
        font-size: 14px;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
}

.logo {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 15%;
}

.center-label {
  display: flex;
  align-items: center;
}

.mt-4 {
  margin-top: 6% !important;
}

.footer-row {
  background: var(--ion-color-secondary);
}

.footer-text-btn {
  text-transform: none !important;
}

// .custom-action-sheet {
//   --background: #d1378c;
//   --ion-text-color: #fff;
// }
//
// .custom-action-sheet .action-sheet-wrapper {
//   background: none;
//   box-shadow: none;
// }
//
// .custom-action-sheet .action-sheet-container {
//   background: transparent;
//   border-radius: 10px 10px 0 0;
// }
//
// .custom-action-sheet .action-sheet-header {
//   background: transparent;
//   color: #fff;
//   border-bottom: none;
// }
//
// .custom-action-sheet .action-sheet-title {
//   color: #fff;
// }
//
// .custom-action-sheet .action-sheet-button {
//   color: #fff;
// }
//
// .custom-action-sheet .action-sheet-button:hover {
//   --background: rgba(255, 255, 255, 0.1);
// }
