ion-content {
  --background: var(--ion-color-primary) url('../../assets/imgs/mobile.png') no-repeat center center / cover;
}

.main_content_div {
  width: 100%;
  padding: 16px;
  height: 100%;
  //justify-content: center;
  display: flex;
  flex-direction: column;
}

.header_flex {
  display: flex;
  justify-content: center;
  margin-top: 23vh;
  margin-bottom: 20px;
}

.logo {
  width: 300px;
  height: 100px;
  //object-fit: fill;
}

.bold_lbl {
  font-size: 26px;
  text-align: center;
  color: var(--ion-color-light);
  font-family: 'Proxima Nova', sans-serif;
}

ion-button {
  margin: 0;
  --border-radius: 25px;
  height: 50px;
}

.mt-4 {
  margin-top: 6% !important;
}

.footer-row {
  background: var(--ion-color-secondary);
}

.footer-text-btn {
  text-transform: none !important;
}
// .custom-action-sheet {
//   --background: #d1378c;
//   --ion-text-color: #fff;
// }
//
// .custom-action-sheet .action-sheet-wrapper {
//   background: none;
//   box-shadow: none;
// }
//
// .custom-action-sheet .action-sheet-container {
//   background: transparent;
//   border-radius: 10px 10px 0 0;
// }
//
// .custom-action-sheet .action-sheet-header {
//   background: transparent;
//   color: #fff;
//   border-bottom: none;
// }
//
// .custom-action-sheet .action-sheet-title {
//   color: #fff;
// }
//
// .custom-action-sheet .action-sheet-button {
//   color: #fff;
// }
//
// .custom-action-sheet .action-sheet-button:hover {
//   --background: rgba(255, 255, 255, 0.1);
// }
